._wrapper {
    background: #9861F0;
    min-height: 100%;
}

._account {
    margin-top: 2.5rem;
}

._account i {
    font-size: 8rem;
    line-height: 0;
}

._account h5 {
    font-size: 1.1rem;
}

._sidebar a {
    color: white;
}

._sidebar a i {
    font-size: 1.3rem;
    line-height: 0;
}

._sidebar a:focus {
    color: white;
}

._sidebar a.active:focus {
    color: #9861F0;
}

._sidebar a:hover {
    background: white;
    color: #9861F0;
}

#dropdown1 i {
    transition: transform .25s ease-in-out;
}

.rotate {
    transform: rotate(-90deg); 
}

.ps-4-5 {
    padding-left: 2.25rem;
}

@media (min-width: 768px) 
    and (max-width: 1400px) { 
        .col-xl-2-5 {
            width: 20.83333%; 
        }
        ._sidebar a {
            flex-direction: row;
        }
}

@media (min-width: 0) and (max-width: 768px) { 
        ul#menu {
            gap: 1.3rem !important;
        }
        ._sidebar a {
            padding: .4rem .2rem;
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
            font-size: .9rem;
            inline-size: 80px;
            text-align: center;
        }
        ._sidebar a i {
            font-size: 1.3rem !important;
            padding: .1rem 0;
            display: inline-block;
            text-align: center;
        }
        .ps-4-5 {
            padding-left: 1rem;
        }
        ._account i {
            font-size: 4rem;
        }
        ._account h5 {
            font-size: 0;
        }
}


